@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body{
  background:black;
  color:white;
}
footer{
  background:rgb(34, 34, 34);
}
 

.link {
  /* Common styles for links */
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 16px;
}

.link.active {
  /* Styles for active link */
  font-weight: bold;
  color: #333; /* Change color as needed */
}

.link:hover {
  /* Styles for hover effect */
  color: #666; /* Change color as needed */
  text-decoration: underline;
}
